@import '../../../../sass/';

.user-mobile-card-component {
  height: fit-content;

  &__avatar {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-bottom-left-radius: 1.8rem;
    border-bottom-right-radius: 1.8rem;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 1rem;

    &--logout {
      position: absolute;
      left: 50%;
      top: -1.4rem;
      transform: translateX(-50%);
      @include buttonWithText($color-main, $color-main-hover);
      padding-left: 1.8rem;
      padding-right: 1.8rem;
    }

    &--component {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.2rem;
      margin: 1.6rem 0;

      &__user {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.6rem 0;
        text-decoration: none;

        h3 {
          color: $color-primary;
          font-size: 23px;
          font-weight: 500;
          margin: 0.6rem 0;
          text-align: center;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 192px;
          height: 24px;
          white-space: nowrap;
        }

        p {
          color: $color-secondary;
          font-size: 11px;
          font-weight: 300;
          margin: 0.08rem 0;
          text-align: center;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 192px;
          height: 13px;
          white-space: nowrap;
        }
      }

      &__statistics {
        display: flex;
        width: 100%;
        max-width: 240px;

        &--details {
          h4 {
            color: $color-primary;
            font-size: 17px;
            font-weight: 500;
            margin: 0;
            margin-bottom: 0.2rem;
            text-align: center;
          }

          p {
            font-size: 11px;
            font-weight: 300;
            margin: 0;
            text-align: center;
          }
        }

        hr {
          border: $hr-config;
        }
      }
    }

    &--hr {
      width: 100%;
      margin: 0;
      border: $hr-config;
    }


  }
}