@mixin buttonWithText($bg-color, $bg-color-hover) {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $color-primary;
  font-weight: 600;
  font-size: 14px;
  padding: 0.8rem;
  border: 0;
  background-color: $bg-color;
  border-radius: 1.4rem;
  transition: background-color 0.4s;
  cursor: pointer;

  &:hover {
    background-color: $bg-color-hover;
  }
}

@mixin simpleButton() {
  color: $color-main-hover;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin: 0.9rem 0;
  margin-bottom: 1.2rem;
  border: 0;
  background: none;
  transition: color 0.4s;
  cursor: pointer;

  &:hover {
    color: $color-main;
  }
}

@mixin hyperLink() {
  color: $color-main-hover;
  text-decoration: none;
  transition: color 0.4s;

  &:hover {
    color: $color-main;
    text-decoration: underline;
  }
}