@import '../../../sass/';

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100dvh;

  h2 {
    color: aqua;
    font-size: 16rem;
    font-weight: 900;
    margin: 0;
    margin-bottom: 1rem;

    @media (max-width: $media-breakpoint-lg) {
      font-size: 8rem;
    }

    @media (max-width: $media-breakpoint-md) {
      font-size: 4rem;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    gap: 2rem;
    padding: 0 1rem;

    @media (max-width: $media-breakpoint-md) {
      gap: 1.2rem;
    }

    h3 {
      color: $color-primary;
      font-size: 1.8rem;
      line-height: 1.4rem;
      font-weight: 600;
      text-align: center;
      margin: 0;
      text-transform: uppercase;

      @media (max-width: $media-breakpoint-md) {
        font-size: 1.2rem;
        line-height: 0.8rem;
      }
    }

    p {
      margin: 0;
      text-align: center;
    }

    a {
      @include buttonWithText($color-main, $color-main-hover);
      text-transform: uppercase;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
}