@import '../../sass/';

.button-component {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: $color-primary;
  font-weight: 600;
  font-size: 14px;
  padding: 0.8rem;
  border: 0;
  border-radius: 1.4rem;
  transition: background-color 0.4s;
  cursor: pointer;
}

.button-component--primary {
  background-color: $color-main;
  
  &:hover {
    background-color: $color-main-hover;
  }
}

.button-component--secondary {
  background-color: $background-color-main;
  
  &:hover {
    background-color: $background-color-main-hover;;
  }
}