.dashboard-page {
  margin: 0 auto;
  
  &__wrapper {
    display: grid;
    grid-template-columns: 220px 1fr 220px;
    grid-gap: 3rem;
    padding: 2rem;
    margin: 0 auto;
    max-width: 1536px;

    @media (max-width: 1200px) {
      grid-template-columns: 220px 1fr;

      &--user {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
    }
  }
}